# Compiled class files
*.class

# Log files
*.log
log/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse files
.project
.classpath
.settings/
bin/
tmp/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Misc
*.swp
*.bak
*.orig
*.obj
*.exe
